/*----------- SETTINGS ----------*/
:root {
  font-size: 50%;
  --font-poppins: 'Poppins', sans-serif;
  --font-oswald: 'Oswald',arial,helvetica,sans-serif;
  --color-background: #ffffff;
  --color-white: #ffffff;
  --color-clean: #e8e8e8;
  --color-gray: #999999;
  --color-dark: #a9a9a9;
  --color-dark-gray: #333333;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  border: none;
  text-decoration: none;
}
*, ::after, ::before {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box; /* Safari and Chrome */
  -moz-box-sizing: border-box; /* Firefox */
  -ms-box-sizing: border-box; /* IE 9 */
  -o-box-sizing: border-box; /* Opera */
  box-sizing: border-box;
}
::after, ::before {
  white-space: pre-wrap;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0, 0.15);
  border-radius: 0;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}


body,
input,
button,
textarea {
  font: 500 1.6rem var(--font-poppins);
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="radio"], input[type="checkbox"] {
  display: none;
}


.card {
  height: 120px;
  width: 90px;
  background: #efefef;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}

.modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.25s linear;
  outline: 0;
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal::after {
  content: '';
  background: rgba(0,0,0, 0.55);
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__content {
  background: #464646;
  z-index: 99;
  position: relative;
  overflow: hidden;
  font-size: 1.43rem;
  padding: 1.4rem;
  box-shadow: rgb(0 0 0 / 24%) 0px 0px 15px 0px;
  border-radius: 5px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.modal--open {
  opacity: 1;
}

.modal--open {
  visibility: visible;
}

.modal--close {
  opacity: 0;
}
.modal--close {
  visibility: hidden;
}

.modal__close {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 100vw;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.pokemon__main > *:not(:last-child) {
  margin-bottom: 30px;
}

.pokemon__imagem {
  position: relative;
  z-index: 1;
}
.pokemon__blur {
  width: 100%;
  height: 300px;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 0;
  z-index: 0;
  filter: blur(25px);
}

.pokemon__info {
  display: flex;
  flex-direction: column;
}
.pokemon__info > *:not(:last-child) {
  margin-bottom: 24px;
}

span.pokemon__name {
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: white;
}


.pokemon__types {
  display: flex;
  justify-content: center;
}
.pokemon__types > *:not(:last-child) {
  margin-right: 16px;
}

p.pokemon__typeName {
  text-align: center;
  border-radius: 20px;
  padding: 6px 16px;
  
}
p.pokemon__typeName--grass {
  color: #1aff66;
  border: 1px solid #1aff66;
}

p.pokemon__typeName--poison {
  color: #c417da;
  border: 1px solid #c417da;
}

p.pokemon__typeName--fire {
  color: #d8793a;
  border: 1px solid #d8793a;
}
